body {
	background-color: pink;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: white;

}

h2 {
	color: white;

}

p {
	color: white;
}

a {
	text-decoration: none;
	color: #8b2f97;
}

.boxke {
	background-color: #bd83ce;
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #70416d;
}

.container {
	width: 850px;
	margin: 0 auto;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	display: inline;
	font-size: 50px;
	margin: 0 20px 0 20px;

}

#pushthebotten {
	background-color: pink;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #70416d;
	display: block;
	width: 200px;
	margin: 20px auto;
}

#pushthebotten:hover {
		background-color: #8b2f97;
		color: pink;
		font-weight: bold;
		padding:5px;
		border-radius: 10px;
		box-shadow: 2px 2px 2px #70416d;
		display: block;
		width: 200px;
		margin: 20px auto;
	}

.perfect-circle {
  	width: 200px;
	height: 200px;
	border-radius: 50%;
}

@media (max-width: 870px) {
  .container {
    width: 650px;
  }
  .boxke {
	width: 650px;
  }

}
@media (max-width: 750px) {
  .container {
    width: 500px;
  }
  .boxke {
	width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 380px;
  }
  .boxke {
	width: 380px;
  }
}

}